<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary">
            Menu
        </mat-toolbar>
        <mat-list role="list" *ngIf="userAuthService.userRole === 'admin'" class="admin-menu">
            <mat-list-item>Admin menus: </mat-list-item>
            <mat-list-item class="nav_list_item nav_list_item_first" role="listitem"><a [routerLink]="['/books/search']">Add books from google API</a></mat-list-item>
            <mat-list-item class="nav_list_item nav_list_item_first" role="listitem"><a [routerLink]="['/books/manage']">Manage books</a></mat-list-item>
        </mat-list>
        <mat-list role="list" *ngIf="!userAuthService.userRole" class="user-menu">
            <mat-list-item>Filter By: </mat-list-item>
            <mat-list-item>
                <mat-button-toggle-group name="filterBy" aria-label="Filter By" value="{{ filterChoosen }}" #group="matButtonToggleGroup" (change)="onFilterByChange(group.value)">
                    <mat-button-toggle value="subjects">Subjects</mat-button-toggle>
                    <mat-button-toggle value="authors">Authors</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-list-item>
            <mat-list-item class="nav_list_item nav_list_item_first" role="listitem"><a [routerLink]="['/books']">All</a></mat-list-item>
            <mat-list-item class="nav_list_item" role="listitem" *ngFor="let filterItem of bookService.filterList">
                <a [routerLink]="['/books/' + filterChoosen + '/' + filterItem ]">{{ filterItem }}</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <div class="app-sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>
