<mat-card class="login-card">
  <div class="alert" *ngIf="userAuthService.statusMessage" [ngClass]="userAuthService.statusMessage">
    <span class="closebtn" (click)="closeAlert()">&times;</span>{{ userAuthService.statusMessageText }}
  </div>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field class="login-full-width">
        <input [(ngModel)]="loginData.email" name="email" matInput placeholder="Email ID" value="">
      </mat-form-field>
      <mat-form-field class="login-full-width">
        <input [(ngModel)]="loginData.password" name="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button (click)="post()" mat-raised-button color="primary">Login</button>
    </form>
    <div class="login-card__or_separator">(Or)</div>
    <div class="socialLoginButtons">
      <button class="socialBtn socialBtn--google mx-1" (click)="signInWithGoogle()">Google</button>
    </div>
  </mat-card-content>
</mat-card>
