<div class="dashboard">
<h4 class="dashboard__title">List of Books you borrowed</h4>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Book Name </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="copiesissued">
      <th mat-header-cell *matHeaderCellDef> Copies Borrowed </th>
      <td mat-cell *matCellDef="let element"> {{element.copiesissued}} </td>
    </ng-container>
    <ng-container matColumnDef="issueddate">
      <th mat-header-cell *matHeaderCellDef> Issued Date </th>
      <td mat-cell *matCellDef="let element"> {{element.issueddate | date:'dd/MM/yyyy hh:mm a' }} </td>
    </ng-container>
    <ng-container matColumnDef="returneddate">
      <th mat-header-cell *matHeaderCellDef> Returned Date </th>
      <td mat-cell *matCellDef="let element"> {{element.returneddate | date:'dd/MM/yyyy hh:mm a' }} </td>
    </ng-container>
    <ng-container matColumnDef="issueRegisterId">
      <th mat-header-cell *matHeaderCellDef> Return </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.issuedstatus == 'issued'" (click)="openDialog(element.issueRegisterId)" class="" mat-raised-button aria-label="Return">Return</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>
