<mat-toolbar color="primary">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>ANY TIME LIBRARY</span>
  <span class="toolbar-spacer"></span>
  <span flex></span>
    <!--<mat-icon style="font-size: 25px">person</mat-icon>-->
    <img *ngIf="user" mat-card-avatar src="{{ user.photoUrl }}">
    <div class="user-auth-links" >
      <a mat-button *ngIf="!userAuthService.isAuthenticated" class="" [routerLink]="['/login']">Login</a>
      <a mat-button *ngIf="!userAuthService.isAuthenticated" class="" [routerLink]="['/register']">Register</a>
      <a mat-button *ngIf="userAuthService.isAuthenticated" class="" (click)="userAuthService.logout()">Logout</a>
      <a mat-button *ngIf="userAuthService.isAuthenticated" class="" [routerLink]="['/profile']">Profile</a>
    </div>


    <!--{{ user.name }}-->

  <!--<img src="{{ user.photoUrl }}">-->
  <!--<div>-->
    <!--<h4>{{ user.name }}</h4>-->
    <!--<p>{{ user.email }}</p>-->
  <!--</div>-->
</mat-toolbar>
