<mat-toolbar color="primary">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>ANY TIME LIBRARY</span>
  <span class="toolbar-spacer"></span>
  <span flex></span>
    <!--<mat-icon style="font-size: 25px">person</mat-icon>-->
    <img *ngIf="user" mat-card-avatar src="{{ user.photoUrl }}">
    <!--{{ user.name }}-->

  <!--<img src="{{ user.photoUrl }}">-->
  <!--<div>-->
    <!--<h4>{{ user.name }}</h4>-->
    <!--<p>{{ user.email }}</p>-->
  <!--</div>-->
</mat-toolbar>
