<mat-card class="book-search-filter">
  <mat-card-header>
    <mat-card-title>
      <h4>Find books and add to library</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="bookSearchForm" class="book-search-form">
      <p style="font-style: italic;">Enter any one of the following fields.</p>
      <mat-form-field class="book-search-form__element">
        <input type="text" formControlName="isbn" matInput placeholder="ISBN">
      </mat-form-field>
      <mat-form-field class="book-search-form__element">
        <input type="text" formControlName="title" matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field class="book-search-form__element">
        <input type="text" formControlName="author" matInput placeholder="Author">
      </mat-form-field>
      <button (click)="searchBooks()" class="book-search-form__mat_icon" mat-flat-button color="primary" aria-label="Search">
        <mat-icon [inline]="true">search</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="book-detail" *ngFor="let book of books">
  <img class="book-detail__image" mat-card-lg-image *ngIf="book.volumeInfo.imageLinks" src='{{ book.volumeInfo.imageLinks.thumbnail }}'>
  <div>
    <mat-card-title>{{ book.volumeInfo.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="book.volumeInfo.authors">
      Authors:
      <span *ngFor="let author of book.volumeInfo.authors; last as isLast">
        {{ author }}<span *ngIf="!isLast">,</span>
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="book.volumeInfo.industryIdentifiers">
      <span *ngFor="let isbnVals of book.volumeInfo.industryIdentifiers; last as isLast">
        {{ isbnVals.type }}: {{ isbnVals.identifier }}<span *ngIf="!isLast">,</span>
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="book.volumeInfo.categories">
      Categories:
      <span *ngFor="let cat of book.volumeInfo.categories; last as isLast">
        {{ cat }}<span *ngIf="!isLast">,</span>
      </span>
    </mat-card-subtitle>
    <button (click)="openDialog(book.id)" class="" mat-raised-button color="primary" aria-label="More details">More details
      <!--<mat-icon>library_add</mat-icon>-->
    </button>
    <!--<mat-card-content class="book-detail__content">-->
      <!--<p *ngIf="book.volumeInfo.description">{{ book.volumeInfo.description }}</p>-->
    <!--</mat-card-content>-->
  </div>
</mat-card>
